*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

h2{
    font-weight: 500;
    font-size: 30px;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

h1{
    font-weight: 700;
    font-size: 70px;
}

p{
    font-size: 20px;
}

li{
    list-style: none;
    font-size: larger
}



.nav{
    background-color: rgb(15,15,15);
    color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    position: fixed;
}

.nav-logo{
    padding-right: 30%;
    font-weight: 300;
    border: none;
    color: rgb(0, 255, 0);
}

.home{
    background-color: rgb(15, 15, 15);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-left: 12%;
    padding-right: 10%;
    color: white;
    
}   

.vishruth{
    background-color: rgb(0, 255, 0);
    color: white;
    border-radius: 10px;
    padding-bottom: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.about{
    color: white;
    background-color: rgb(15,15,15);
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 12%;
    padding-right: 10%;
    
}

.h2{
    font-size: 40px;
    color: rgb(0, 255, 0) ;
}

.tech-stack{
    display: flex;
    gap: 10px;
}

.sain{
    color: rgb(0, 255, 0);
}

.experience{
    color: white;
    background-color: rgb(15, 15, 15);
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 12%;
    padding-right: 10%;
}

.projects{
    color: white;
    background-color: rgb(15, 15, 15);
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 12%;
    padding-right: 10%;

}

.contact{
    color: white;
    background-color: rgb(15, 15, 15);
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 12%;
    padding-right: 10%;

}

h4{
    font-size: 20px;
    font-weight: 300;
}

footer{
    align-self: center;
    padding-top: 110px;
    
}